# Copy this file into <prefix>/share/kde4/services/ServiceMenus/

[Desktop Entry]
Version=1.0
Icon=package-x-generic
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/plain;
Actions=BuildSource;MergeBinary;RemoveContent;
X-KDE-AuthorizeAction=shell_access

[Desktop Action BuildSource]
Name=Build from source
Name[bg]=Изгради от източник
MimeType=text/plain;
TryExec=konsole
Exec=kdesu konsole --hold -e spm source -a %d
Icon=package-x-generic

[Desktop Action MergeBinary]
Name=Merge from pre-build tarball
Name[bg]=Обедини от предварително изграден архив
MimeType=text/plain;
TryExec=konsole
Exec=kdesu konsole --hold -e spm binary -mD %d
Icon=package-x-generic

[Desktop Action RemoveContent]
Name=Remove from the system
Name[bg]=Премахни от системата
MimeType=text/plain;
TryExec=konsole
Exec=kdesu konsole --hold -e spm binary -r %d
Icon=package-x-generic