#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SPM Qt GUI
TryExec=kdesu
Exec=kdesu spm-qt
Icon=system-software-update
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;PackageManager;
