[Desktop Entry]
Name=Power controller
GenericName=Power controller
Comment=Tray controller for Power Daemon
Categories=System;Settings;
Exec=powertray
Terminal=false
Type=Application
Icon=preferences-system
StartupNotify=true
