#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QImage
Exec=qimage
Icon=image-viewer
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;Accessories;
