#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QNetwork
Exec=qnetwork
Icon=preferences-system-network
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;Settings;Network;
